<%- include('../partials/header') %>

<div class="container">
  <!-- In your login.ejs or register.ejs file, place this where you want to show the flash messages -->

  <h2>Register</h2>
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>

      <input
      placeholder="At least 7 digit "
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <select class="form-control" id="role" name="role">
        <option value="student">Student</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    
    <br><br><br><br>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>

<%- include('../partials/footer') %>
